#conteudo_principal .spinner {
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#conteudo_principal .content {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#conteudo_principal .topico {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conteudo_principal .topico img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#conteudo_principal .topico h2 {
    margin: 10px 0;
}

#conteudo_principal .topico p {
    margin: 5px 0;
}

#conteudo_principal .add-topico button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

#conteudo_principal .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#conteudo_principal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#conteudo_principal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#conteudo_principal .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}