@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#menu_do_lado .logo span {
    position: relative;
    display: inline-block;
}

#menu_do_lado .logo span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(20deg);
    animation: brilho 3s ease-in-out infinite;
}

#menu_do_lado .logo {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #1F1F1F;
}

#menu_do_lado .logo span {
    font-family: 'Poppins-Bold' !important;
    /*color: #F0394F;  */
}

@keyframes brilho {
    0% {
        left: -40%;
        opacity: 1;
    }

    25% {
        left: 0%;
        opacity: 1;
    }

    75% {
        left: 100%;
        opacity: 1;
    }

    100% {
        left: 200%;
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body>div#menu_do_lado {
    height: 100vh;
    background-color: aliceblue;
}

nav.menu-lateral {
    width: 280px;
    height: 100%;
    background: #ffffff;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: #333;
}

.menu-link.active {
    pointer-events: none;
    /* Desabilita o clique */
    background-color: #ddd;
    /* Cor de fundo para o item ativo */
    color: #333;
    /* Cor do texto para o item ativo */
}

.btn-expandir {
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#menu_do_lado ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    padding: 12px 4%;
    display: flex;
    line-height: 20px;
    margin-bottom: 10px;

}

ul li.item-menu {
    margin-right: 30px;
    padding: 2px;
}

ul li.item-menu a .txt-link {
    margin-left: 10px;
}

ul li.item-menu a:hover {
    color: #ff0000;
    background-color: rgb(238, 237, 236);
    border-radius: 10px;
}

ul li.item-menu a .icon>i {
    font-size: 20px;
    margin-left: 6px;
}

#menu_do_lado .line {
    border: 1px solid rgb(235, 231, 231);
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 15px;
}

#menu_do_lado .subtitulo {
    margin-left: 17px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 16px;
}

ul li.buton a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    padding: 12px 4%;
    display: flex;
    line-height: 20px;
    border-color: #ff0000;
}

ul li.buton {
    margin-right: 30px;
    padding: 2px;
    margin-top: 20px;
}

ul li.buton a .txt-link {
    margin-left: 40px;
    color: #ff0000;
}

ul li.buton a {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 1px 1px 1px 1px;
}

ul li.buton a:hover {
    background-color: rgb(238, 237, 236);
}

#menu_do_lado img {
    width: 12%;
}

section#foruns>div{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-left: 3px;
}

section#foruns>div>h2 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

section#foruns>div>h2:hover {
    color: #ff0000;
    background-color: rgb(238, 237, 236);
    border-color: #ff0000;
    text-align: left;
}

section#foruns>div>img {
    width: 15%;
    margin-left: 8px;
    margin-top: 10px;
}

#menu_do_lado .container {
    display: flex;
    align-items: center;
} 