@charset "utf-8";

@font-face {
    font-family: 'Poppins';
    src: url('../Recursos/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

#conteudo_principal * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteudo_principal main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#conteudo_principal #barra-superior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

#conteudo_principal .container-pesquisa,
#conteudo_principal .container-adicionar-amigo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#conteudo_principal #barra-pesquisa,
#conteudo_principal #novo-amigo {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    font-family: "Poppins";
    margin-right: -299px;
}

#conteudo_principal #botao-pesquisa,
#conteudo_principal #botao-adicionar-amigo {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#conteudo_principal #botao-pesquisa:hover,
#conteudo_principal #botao-adicionar-amigo:hover {
    background-color: #0056b3;
}

#conteudo_principal #adicionar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo_principal #adicionar:hover {
    background-color: #0056b3;
}

#conteudo_principal #amigos {
    display: flex;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

#conteudo_principal #amigos:hover {
    background-color: #edf0f1;
    cursor: pointer;
    transition-duration: 0.1s;
    border-radius: 20px;
}

#conteudo_principal .img-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#conteudo_principal #nome {
    font-family: "Poppins";
    font-weight: bold;
    margin: 0;
}

#conteudo_principal #mensagem-recente {
    font-family: "Poppins";
    font-size: small;
    margin: 5px 0 0 0;
    color: #555;
}

#conteudo_principal button {
    margin-left: 300px;
    color: #ffff;
    padding: 5px 10px;
    background-color: #f00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#conteudo_principal button:hover {
    background-color: #d00;
}