@charset "utf-8";

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../Recursos/Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../Recursos/Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../Recursos/Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../Recursos/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

#conteudo_principal section>div#conteudo_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#conteudo_principal section>div.d-inline-block>img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin-top: 4px;
    border-radius: 50%;
}


#conteudo_principal section>h1 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 40px;
    margin: 8px;
}

#conteudo_principal section#perfil>h2 {

    font-size: 24px;
    margin: 4px 0;
    font-family: 'Poppins-SemiBold', sans-serif;
}

#conteudo_principal section#perfil>h3 {
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Poppins-Medium', sans-serif;
}

#conteudo_principal section#perfil>p {
    margin: 4px 0;
    font-family: 'Poppins-Regular', sans-serif;
}

#conteudo_principal section#perfil>.d-grid>button {
    margin-top: 10px;
    width: 100%;
    background-color: #121f24;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.9em;
}

#conteudo_principal section#perfil>textarea {
    width: 350px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 0.9em;
    resize: none;
    font-family: 'Poppins-Regular', sans-serif;
}

#conteudo_principal .imagem {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilo da imagem do perfil */
#conteudo_principal #profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#conteudo_principal .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

#conteudo_principal .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

#conteudo_principal .alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}

/* Estilo do textarea */
#conteudo_principal textarea {
    width: calc(100% - 20px);
    /* Ajusta a largura para incluir padding */
    height: 100px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: none;
    margin: 10px 0;
    /* Adiciona margem uniforme */
}

.input-data-fonte,
.periodo-fonte,
.curso,
.data-criacao,
.input-senha-fonte {
    font-family: 'Poppins-SemiBold', sans-serif;
}

.input-nome-fonte-edit {
    width: 400px;
    font-size: 0.8em;
    padding: 5px;
    box-sizing: border-box;
}

.aviso-senha {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.descricao-fonte {
    font-family: 'Poppins-Regular', sans-serif;
}

#descricao {
    width: 90% !important;
    /* Largura da caixa de texto de descrição */
    height: 120px !important;
    /* Altura da caixa de texto de decrição */
}


/* Estilo do contêiner dos botões */
#conteudo_principal .button-container {
    display: grid;
    gap: 2px;
    margin-top: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo dos botões de edição */
#conteudo_principal .btn-editar {
    padding: 10px;
    font-family: 'Poppins-Medium', sans-serif;
    border-radius: 4px;
    border: 2px solid black;
    /* Adiciona uma borda preta */
    background-color: #ffffff;
    /* Define a cor de fundo como branca */
    color: black;
    /* Define a cor do texto como preta */
    cursor: pointer;
}

/* Estilo do botão ao passar o mouse */
#conteudo_principal .btn-editar:hover {
    background-color: #dddddd;
}

/* Estilo dos ícones */
#conteudo_principal .icone {
    width: 16px;
    /* Ajuste o tamanho conforme necessário */
    height: 16px;
    /* Ajuste o tamanho conforme necessário */
    vertical-align: middle;
    /* Alinha verticalmente o ícone com o texto */
    margin-right: 5px;
    /* Espaço entre o ícone e o texto */
}

/* Estilo do spinner de carregamento */
#conteudo_principal .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}