@charset "utf-8";

@font-face {
    font-family: 'Poppins';
    src: url('../Recursos/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

header {
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 0;
}

#barra-superior {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0;
    margin-bottom: 20px;
}

#container-pesquisa,
#container-adicionar-amigo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#barra-pesquisa,
#novo-amigo {
    flex-grow: 1;
    padding: 10.2px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 0;
    font-family: "Poppins";
    margin-right: -99px;
    font-size: x-small;
}

#botao-pesquisa,
#botao-adicionar-amigo {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#botao-pesquisa:hover,
#botao-adicionar-amigo:hover {
    background-color: #0056b3;
}

#adicionar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#adicionar:hover {
    background-color: #0056b3;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-top: 0;
}

#amigos {
    display: flex;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

#amigos:hover {
    background-color: #edf0f1;
    cursor: pointer;
    transition-duration: 0.1s;
    border-radius: 20px;
}

#img-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#nome {
    font-family: "Poppins";
    font-weight: bold;
    margin: 0;
}

#mensagem-recente {
    font-family: "Poppins";
    font-size: small;
    margin: 5px 0 0 0;
    color: #555;
}

#exculir {
    margin-left: 300px;
    color: #ffff;
    padding: 5px 10px;
    background-color: #f00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#exculir:hover {
    background-color: #d00;
}