.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-text {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

#messages {
    height: 300px;
    /* Ajuste a altura conforme necessário */
    overflow-y: scroll;
}

#conteudo_principal input[type="text"],
#conteudo_principal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#conteudo_principal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* Indica que o botão está desativado */
}