* {
    padding: 0;
    margin: 0;

}

body {

    background-image: url(../imagens/fundoAzul.jpg);
    background-repeat: no-repeat;
    background-position: right 20px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.conteiner {
    margin-right: 400px;
    background-color: #ffff;
    padding: 20px;
    width: 300px;
    text-align: start;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 20px;
    color: #333;
}




.listaDeCaixasDeTexto {
    list-style: none;
    padding: 0;
}

.caixaDetexto {
    margin-bottom: 15px;
}

.caixaDetexto input {
    background-color: #edf0f1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.textoDePalavra {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}


.descricaoDeSenha {
    display: flex;
    justify-content: flex-start;
    font-size: x-small;
    color: #666;
}

button {
    background-color: #121f24;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 0.9em;
}

button:hover {
    background-color: #10648c;
}

.linkParaLogin {
    text-align: center;
    font-size: small;
    margin-top: 20px;
    color: #666;
}

.linkParaLogin a {
    color: #10648c;
    text-decoration: none;
}

.linkParaLogin a:hover {
    text-decoration: underline;
}