/* Spinner */
#conteudo_principal .spinner {
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Container */
#conteudo_principal .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

/* Tópico */
#conteudo_principal .ssubtopico {
    background-color: #ffffff;
    width: 100%;
}

#conteudo_principal .ssubtopico h2 {
    font-size: 18px;
    margin-bottom: 10px;
}


/* Tópico */
#conteudo_principal .topico {
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#conteudo_principal .topico h2 {
    font-size: 24px;
    /* Tamanho maior para o título */
    margin-bottom: 10px;
}

#conteudo_principal .topico .info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#conteudo_principal .topico img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

#conteudo_principal .topico .autor-data {
    display: flex;
    flex-direction: column;
}

#conteudo_principal .topico p {
    margin: 5px 0;
}

/* Botão Adicionar Tópico */
#conteudo_principal .add-topico button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Modal */
#conteudo_principal .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#conteudo_principal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#conteudo_principal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#conteudo_principal .close:hover,
#conteudo_principal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}