.chat-container {
  display: flex;
}

.sidebar {
  width: 400px;
  height: 100vh;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar .container-client-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.sidebar .container-client-list img {
  width: 200px;
  height: auto;
}
.sidebar .text-client h3 {
  font-size: 1.7rem;
  color: #1c76b4;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sidebar .client-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  padding: 20px 0px 20px 0px;
  max-height: 300px;
  overflow-y: auto;
}

.sidebar .client-list button {
  border-radius: 50px;
  background: #55b3f3;
  color: white;
  width: 50%;
  height: 45px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 19px;
  border: none;
}
.sidebar .button-change-user {
  border-radius: 50px;
  background: #1c76b4;
  color: white;
  width: 50%;
  height: 50px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 19px;
  border: none;
}

.chat-box {
  width: 70%;
  padding: 40px;
  height: 80vh;
}
.chat-box .user-header {
  height: 300px;
  background-color: #55b3f3;
  border-radius: 25px 25px 0px 0px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  padding-left: 30px;
}
.chat-box .user-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.chat-box .user-header span {
  font-size: 1rem;
}
.messagesContainer {
  min-height: 60vh;
  background: rgba(32, 33, 35, 0.1);
  overflow-y: auto;
  max-height: 60vh;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-box .messages {
  width: 80%;
}

.messages .self {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.messages span {
  font-size: 10px;
}

.messages .self p {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 10px;
  background-color: #55b3f3;
  color: white;
  text-align: right;
  font-size: 1.2rem;
}
.messages .self span {
  margin-left: 50px;
}
.messages .other {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.messages .other p {
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: rgba(32, 33, 35, 0.2);
}
.messages .other span {
  margin-left: 50px;
}

.chat-box form {
  min-height: 10vh;
  background: rgba(32, 33, 35, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-input {
  border-radius: 50px;
  background: rgba(32, 33, 35, 0.5);
  width: 80%;
  color: white;
  border: none;
  height: 40px;
  font-size: 18px;
  padding: 12px;
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  fill: #333;
  width: 30px;
  height: auto;
}
input {
  padding-left: 10px;
  height: 40px;
  width: 80%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  resize: none;
  border: none;
  color: white;
  font-size: 16px;
}
input::placeholder {
  color: white;
  font-size: 16px;
}
input:focus {
  outline: none;
}

.submit-button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.submit-button .input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  fill: #333;
  width: 30px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .chat-container {
    flex-direction: column;
    padding: 15px;
  }
  .sidebar {
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .container-client-list {
    display: none !important;
  }

  .sidebar .button-change-user {
    width: 80%;
    height: 50px;
    cursor: pointer;
    margin-bottom: 0px;
    font-size: 16px;
    border: none;
  }
  .chat-box {
    width: 100%;
    padding: 0px;
  }
}
